.info-card .right-card {
  width: 70%;
  height: 100%;
  border-radius: 40px;
  background: var(--dark-gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right-card-name {
  font-size: 3.5em;
  font-weight: 600;
  margin-bottom: 12px;
  color: var(--white);
}

.right-card-title {
  font-size: 1.6em;
  font-weight: 100;
  color: var(--gray);
}
